<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= data.title %>
  </title>
</head>

<body>
  <div class="container mt-3">
    <table class="table table-warning table-striped">
      <thead>
        <tr>
          <th>STT</th>
          <th>FullName</th>
          <th>Address</th>
          <th>Sex</th>
          <th>Email</th>
          <th>Setting</th>
        </tr>
      </thead>
      <% for(let i=0;i<data.rows.length;i++) { %>
        <tbody>
          <tr>
            <td>
              <%= i + 1 %>
            </td>
            <td>
              <%= data.rows[i].fullname %>
            </td>
            <td>
              <%= data.rows[i].address %>
            </td>
            <td>
              <%= data.rows[i].sex %>
            </td>
            <td>
              <%= data.rows[i].email %>
            </td>
            <td>

              <a style="text-decoration: none" href="/listuser/<%= data.rows[i].username %>">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>

              <a style="text-decoration: none" href="/updateuser/<%= data.rows[i].username %>">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>

              <a style="text-decoration: none" href="/delUser/<%= data.rows[i].username %>">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>

            </td>
          </tr>
        </tbody>
        <%}%>
    </table>
  </div>
</body>

</html>